.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    height: 15dvh;
}

.wrapper>div {
    width: fit-content;
    height: fit-content;
}

.toolbar {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    margin: 15px;
    padding: 5px 10px;
    height: 50px;
}

.button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.selected {
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}