.stack {
    display: flex;
}

.stack_direction_horizontal {
    flex-direction: row;
}

.stack_direction_vertical {
    flex-direction: column;
}

.stack_gap_m {
    gap: 12px;
}

.stack_gap_xl {
    gap: 32px;
}

.stack_align_center {
    align-items: center;
}