.breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumbs__link {
    color: var(--text-color);
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__link--active {
    color: var(--primary-color);
}

.breadcrumbs__divider {
    color: var(--text-color);
}