.wrapper {
    margin-top: 18px;
}

.select {
    margin-top: 12px;
    border: 1.5px solid var(--stroke-color);
    padding: 15px;
    border-radius: 4px;
    background: url("./chevron-down.svg") no-repeat;
    background-position: right 20px center;
    width: 100%;
    transition: 250ms ease-in;
    cursor: pointer;
    position: relative;
}

.select:focus {
    border-color: var(--primary-color);
}

.options {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px var(--stroke-color);
    margin-top: 4px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
}

.option {
    padding: 10px 20px;
    cursor: pointer;
}

.checked {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.option:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.option-input {
    width: 0;
    height: 0;
}