.wrapper {
    border-top: 1px solid var(--stroke-color);
    margin: -24px;
    padding: 32px 24px;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
}

.item:last-child {
    margin-bottom: 0;
}

.text {
    display: inline-block;
    width: 20%;
}

.track {
    border-radius: 4px;
    background-color: #E5E7EB;
    width: 70%;
    height: 18px;
    margin-left: auto;
}

.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    background-color: var(--primary-color);
    border-radius: 4px;
}