.data-viewer {
    padding: 20px;
}

.data-viewer__header {
    margin-bottom: 15px;
}

.data-viewer__tabs {
    display: flex;
    margin-top: 24px;
}

.data-viewer__tab {
    cursor: pointer;
    transition: 0.5s;
    padding-right: 4em;
    padding-bottom: 0.5em;
}

.data-viewer__tab--base {
    color: var(--text-color-color);
    border-bottom: 2px solid var(--stroke-color);
}

.data-viewer__tab--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.data-viewer__data {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
