.drag-and-drop {
    max-width: 768px;
    padding: 28px;
}

.drag-and-drop__area {
    border: 1px dashed var(--primary-color);
    display: block;
    padding: 40px 75px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--hover-color);
    text-align: center;
}

.drag-and-drop__area>input[type="file"] {
    display: none;
}

.drag-and-drop__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--white);
    padding: 12px;
    border-radius: 9999px;
    margin: auto;
    margin-bottom: 12px;
    border: 1px solid var(--stroke-color);
}

.drag-and-drop__icon>img {
    width: 16px;
    height: 16px;
}