.form {
    max-width: 768px;
    padding: 26px;
}

.form__buttons {
    margin-top: 24px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.form__two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.form__input {
    margin-top: 18px;
}

.form__field {
    display: block;
    width: calc(100% - 44px);
    border: 1.5px solid var(--stroke-color);
    border-radius: 4px;
    padding: 13px 22px;
    margin-top: 12px;
    transition: 250ms ease-in;
}

.form__field:focus {
    border-color: var(--primary-color);
}

.form__field--error {
    border-color: var(--alert-text-color);
}

.form__radio-group {
    margin-top: 18px;
}

.form__radio {
    display: block;
    margin-top: 4px;
}

.form__radio>input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__label {
    display: inline-flex;
    align-items: center;
}

.form__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px var(--text-color);
    border-radius: 50%;
    margin-right: 8px;
}

.form__radio>input[type="radio"]:checked+.form__label::before {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    border: 5px solid var(--gray-color);
}

.form__radio>input[type="radio"]:active+.form__label::before {
    box-shadow: 0 0 0 1px var(--primary-color);
    background-color: var(--gray-color);
}

.form__radio>input[type="radio"]:not(:checked):focus+.form__label::before {
    box-shadow: 0 0 0 1px var(--primary-color);
    background-color: var(--gray-color);
}