.form {
    max-width: 768px;
    padding: 26px;
}

.form__title {
    text-align: center;
}

.form__buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.form__buttons--left {
    justify-content: flex-start;
}

.form__buttons--center {
    justify-content: center;
}

.form__two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.form__input {
    margin-top: 18px;
}

.form__field {
    display: block;
    width: calc(100% - 44px);
    border: 1.5px solid var(--stroke-color);
    border-radius: 4px;
    padding: 13px 22px;
    margin-top: 12px;
    transition: 250ms ease-in;
}

.form__field:focus {
    border-color: var(--primary-color);
}

.form__field--error {
    border-color: var(--alert-text-color);
}

.form__radio-group {
    margin-top: 18px;
}

.form__radio {
    display: block;
    margin-top: 4px;
}

.form__radio>input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__label {
    display: inline-flex;
    align-items: center;
}

.form__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px var(--text-color);
    border-radius: 50%;
    margin-right: 8px;
}

.form__radio>input[type="radio"]:checked+.form__label::before {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    border: 5px solid var(--gray-color);
}

.form__radio>input[type="radio"]:active+.form__label::before {
    box-shadow: 0 0 0 1px var(--primary-color);
    background-color: var(--gray-color);
}

.form__radio>input[type="radio"]:not(:checked):focus+.form__label::before {
    box-shadow: 0 0 0 1px var(--primary-color);
    background-color: var(--gray-color);
}

.form__select-container {
    margin-top: 18px;
}

.form__select {
    margin-top: 12px;
    border: 1.5px solid var(--stroke-color);
    padding: 15px;
    border-radius: 4px;
    background: url("../../../res/chevron-down.svg") no-repeat;
    background-position: right 20px center;
    width: 100%;
    transition: 250ms ease-in;
    cursor: pointer;
    position: relative;
}

.form__select:focus {
    border-color: var(--primary-color);
}

.form__options {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px var(--stroke-color);
    margin-top: 4px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
}

.form__option {
    padding: 10px 20px;
    cursor: pointer;
}

.form__option--checked {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.form__option:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.form__option-input {
    width: 0;
    height: 0;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.form__checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color-color);
    border-radius: 4px;
}

.form__checkbox-input:hover {
    border-color: var(--primary-color);
    background-color: var(--hover-color);
}

.form__checkbox-input:checked {
    border-color: var(--primary-color);
    background: url('./check.svg') var(--hover-color) no-repeat center;
}