.form {
    max-width: 768px;
}

.title {
    text-align: center;
}

.buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}