@font-face {
    font-family: 'Inter';
    src: url('../../../res/font/Inter-Regular.ttf');
}

.drawer {
    background-color: #1C2434;
    color: #8A99AF;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 40px 20px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.drawer__logo {
    width: 100%;
    padding: 0 20px;

}

.drawer__navigation {
    margin-top: 48px;
}

.drawer__section {
    width: 100%;
    cursor: pointer;
}

.drawer__title {
    margin-top: 8px;
    padding: 8px 12px;
    padding-right: 48px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.drawer__title:hover {
    background-color: #333A48;
}

.drawer__title::after {
    background: url('./chevron.svg') no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    content: "";
    width: 48px;
    height: 24px;
    rotate: 0deg;
    transition: rotate 200ms ease-out;
}

.drawer__link {
    padding: 4px 0;
    padding-left: 45px;
}

.drawer__link:hover {
    color: white;
}

.drawer__link:first-child {
    margin-top: 20px;
}

.drawer__link:last-child {
    margin-bottom: 20px;
}

.drawer__content {
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-out;
}

details[open]+.drawer__content {
    max-height: 100px;
    transition: max-height 200ms ease-out;
}

details[open] .drawer__title::after {
    rotate: -180deg;
    transition: rotate 200ms ease-out;
}