.wrapper {
    background-color: #1C2434;
    color: #8A99AF;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 40px 20px;
    padding-top: calc(40px + var(--progress-bar-height));
}

.logo {
    width: 100%;
    padding: 0 20px;
}

.navigation {
    margin-top: 48px;
}

.section {
    width: 100%;
    cursor: pointer;
}

.title {
    color: #DEE4EE;
    margin-top: 8px;
    padding: 8px 12px;
    padding-right: 48px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.title:hover {
    background-color: var(--dark-color);
}

.title::after {
    background: url('./chevron.svg') no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    content: "";
    width: 48px;
    height: 24px;
    rotate: 0deg;
    transition: rotate 200ms ease-out;
}

.link {
    padding: 4px 0;
    padding-left: 45px;
    width: 100%;
}

.link:hover {
    color: var(--white-hover-color);
}

.link:first-child {
    margin-top: 20px;
}

.link:last-child {
    margin-bottom: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-out;
}

details[open]+.content {
    max-height: 100px;
    transition: max-height 200ms ease-out;
}

details[open] .title::after {
    rotate: -180deg;
    transition: rotate 200ms ease-out;
}