.input {
    margin-top: 18px;
}

.field {
    display: block;
    width: calc(100% - 44px);
    border: 1.5px solid var(--stroke-color);
    border-radius: 4px;
    padding: 13px 22px;
    margin-top: 12px;
    transition: 250ms ease-in;
}

.field:focus {
    border-color: var(--primary-color);
}

.error {
    border-color: var(--alert-text-color);
}