.wrapper {
    width: 100%;
    height: 100%;
}

.map__region:hover {
    opacity: 1;
}

.panel {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px;
    background-color: #E7E7E7;
}

.button>svg {
    fill: #637381;
}

.button:hover {
    background-color: var(--primary-color);
}

.button:hover>svg {
    fill: var(--white);
}

.tooltip {
    background-color: #F8FAFC;
    border: 1px solid var(--stroke-color);
    border-radius: 4px;
    padding: 8px 12px;
}