body {
    --white: #fff;
    --dark-color: #1C2434;
    --text-color: #64748B;
    --stroke-color: #E2E8F0;
    --gray-color: #EFF4FB;
    --white-hover-color: #DEE4EE;
    --notification-color: #DC3545;
    --yellow-color: #F0950C;
    --green-color: #10B981;
    --black: #212B36;
    --text-color-2: #637381;
    --backdrop-color: rgb(33, 43, 54, 0.85);
    --primary-color: #3C50E0;
    --hover-primary-color: #3c4fe0a9;
    --text-color-color: #64748B;
    --hover-color: rgba(48, 86, 211, 0.04);
    --dark-color-text-color-1: #DEE4EE;
    --dark-color-text-color-2: #8A99AF;
    --hover-color-2: rgba(138, 153, 175, 0.2);
    --alert-color: #F87171;
    --alert-text-color: #CD5D5D;
    --alert-background-color: #FEEAEA;
    --alert-title-color: #BC1C21;
    --success-background-color: #E1F9F0;
    --success-color: #34D399;
    --success-title-color: #004434;
    --success-text-color: #637381;
}
