@font-face {
    font-family: PTSans;
    src: url("../res/PTSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Nunito";
    src: url("../res/Nunito-Regular.ttf") format('truetype');
}
  
@font-face {
    font-family: "PTSans Bold";
    src: url("../res/PTSans-Bold.ttf") format('truetype');
}

.font__medium-16 {
    font-family: PTSans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.font__medium-14 {
    font-family: PTSans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.font__regular-16 {
    font-family: PTSans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.font__regular-14 {
    font-family: PTSans, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.font_color_dark {
    color: var(--dark-color);
}

.font_color_text {
    color: var(--text-color);
}

.font_color_gray {
    color: var(--gray-color);
}

.font_color_primary {
    color: var(--primary-color);
}

.font_color_error {
    color: var(--alert-text-color);
}

.field-name {
    font-weight: 800;
    font-size: 15px;
}

.table-value {
    font-size: 14px;
    color: var(--text-color-color);
}

.header-font {
    font-size: 22px;
    line-height: 30px;
    color: black;
}

.text-font {
    font-size: 14px;
    color: var(--text-color-color);
}

.title-font {
    font-size: 14px;
    font-weight: 800;
    color: var(--text-color-color);
}

.error-title {
    color: var(--alert-title-color);
    font-weight: 700;
}

.error-text {
    color: var(--alert-text-color);
}

.success-title {
    color: var(--success-title-color);
    font-weight: 700;
}

.success-text {
    color: var(--success-text-color);
}

.notify-title {
    color: #9D5425;
    font-weight: 700;
}

.notify-text {
    color: #D0915C;
}

.star-font {
    color: var(--alert-text-color);
    font-size: x-large;
}

.error-font {
    color: var(--alert-text-color);
    font-size: small;
}

.phone-number-code-font {
    color: white;
    background-color: var(--primary-color);
    padding: 15px 10px;
    border-radius: 4px;
    font-size: large;
}