body {
    --header-height: 80px;
}

header {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--stroke-color);
    height: var(--header-height);
    padding-left: 35px;
    padding-right: 30px;
}

header svg,
.list svg, 
.pagination > div > span,
.list > div span {
    cursor: pointer;
}


header > menu div {
    background-color: var(--gray-color);
    border: 1px solid var(--stroke-color);
    border-radius: 50%;
    padding: 8px;
    margin: 0 7px;
}

header > menu div:hover {
    background-color: var(--stroke-color);
}

.notificated-icon {
    height: 10px;
    width: 10px;
    background-color: var(--notification-color);
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
}

.notificated-list {
    height: 10px;
    width: 10px;
    background-color: var(--notification-color);
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    float: left;
}

header li svg {
    display: block;
    width: 18px;
    height: 18px;
}

.modal {
    position: absolute;
}

.list-context-menu {
    background-color: white;
    color: var(--text-color-color);
    border-radius: 5px;
    box-shadow: 3px 2px 3px var(--stroke-color);
    display: flex;
    flex-flow: column;
    align-content: stretch;
}

.list-context-menu > li {
    float: left;
    clear: left;
    display: block;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.list-context-menu > li:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.login-page__content {
    margin: 5vh auto;
    padding: 40px 70px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.login-page__header {
    margin-bottom: 35px;
}

.list {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
}

.list > span {
    border-bottom: 1px solid gainsboro;
    padding: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
}
  
.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid gainsboro;
}

.data-viewer {
    padding: 20px;
}

.data-viewer__header {
    margin-bottom: 15px;
}

.not-found-page {
    width: fit-content;
    margin: 20% auto;
}

.not-found-page > * {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
}

select {
    border: 1.5px solid var(--stroke-color);
    padding: 15px;
    border-radius: 4px;
    background: url("../res/chevron-down.svg") no-repeat 98%;
}

select:focus {
    border-color: var(--primary-color);
}

.not-found-page {
    margin: 100px auto;
}

.modal-shaded {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
}

.rounded-card {
    border-radius: 8px;
    background-color: white;
}

#alert {
    position: fixed;
    right: 18px;
    bottom: 18px;
}

#alert > * {
    animation-duration: 1s;
    animation-name: fadein
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.tab-layout {
    display: flex;
    flex-flow: row wrap;
    margin-top: 24px;
}

.tab-layout > ul {
    background-color: white;
    color: var(--text-color-color);
}

.tab-layout > ul > li {
    float: left;
    clear: left;
    display: block;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-layout > ul > li:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.tab-layout > div {
    padding: 32px;
}

.tab-layout__selected {
    color: var(--primary-color);
    background-color: var(--hover-color);
    border-left: 4px solid var(--primary-color);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px dashed var(--primary-color);
    display: block;
    padding: 40px 75px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--hover-color);
    font-size: small;
    text-align: center;
    margin: 10px auto;
}

.accent {
    color: var(--primary-color);
}
