.filled-button {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 14px 40px;
    text-align: center;
    cursor: pointer;
}

.outline-button {
    background-color: var(--gray-color);
    color: var(--text-color-color);
    border: 0;
    border-radius: 5px;
    padding: 14px 40px;
    text-align: center;
    cursor: pointer;
}

.filled-input {
    border-radius: 4px;
    border: 1px solid var(--stroke-color);
    background-color: var(--gray-color);
    padding: 15px 25px;
}

.filled-input:focus {
    background-color: var(--stroke-color);
}

.filled-input::placeholder {
    color: var(--text-color-color);
    font-size: 14px;
}

.outline-input {
    border-radius: 5px;
    border: 1.5px solid var(--stroke-color);
    padding: 15px 25px;
}

.outline-input:focus {
    border-color: var(--primary-color);
}

.outline-input::placeholder {
    color: var(--text-color-color);
    font-size: 14px;
}

.outline-input-invalid {
    border-radius: 5px;
    border: 1.5px solid var(--alert-color);
    padding: 15px 25px;
    background-color: var(--alert-background-color);
}

.outline-input-invalid::placeholder {
    color: var(--alert-text-color);
    font-size: 14px;
}

.card {
    background-color: white;
    border: 1px solid var(--stroke-color);
    box-shadow: 1px 2px 3px var(--stroke-color);
}

.forgot-password {
    display: block;
    float: right;
    font-size: small;
}

.forgot-password:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.filled-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    transition: 0.2s all linear;
    background: transparent;
}

.filled-radio:checked {
    width: 8px;
    height: 8px;
    border-width: 4px;
    background: aliceblue;
}
