.toggle {
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-bottom: 5px;
    width: fit-content;
}

.toggle__label {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: #ddd;
    border-radius: 25px;
}

.toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.toggle__slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.toggle__slider {
    background-color: var(--primary-color);
}

input:checked+.toggle__slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

