.link {
    border-radius: 4px;
    padding: 11px 30px;
    text-align: center;
    cursor: pointer;
}

.link_theme_primary {
    background-color: var(--primary-color);
}

.link_theme_primary:hover {
    background-color: var(--hover-primary-color);
}

.link_theme_secondary {
    border: 1px solid var(--primary-color);
    background-color: var(--white);
}

.link_theme_secondary:hover {
    border: 1px solid var(--hover-primary-color);
    background-color: var(--hover-color);
}