#root {
    margin-top: 0;
    height: 100vh;
}

.basic-layout {
    height: 100vh;
}

.content__login-page {
    width: fit-content;
    padding: 70px;
    margin: 10% auto;
}

.content__login-page div {
    margin-top: 32px;
}

.content__home-page {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.content__home-page-table h2 {
    margin: 20px;
}

.delete-form {
    padding: 30px 50px;
    width: fit-content;
    margin: 20vh auto;
}

.delete-form>* {
    margin: 15px auto;
    text-align: center;
    width: fit-content;
}

.delete-form>div {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.delete-form>div>span {
    margin: 10px 0;
}

.progress-track {
    height: 5px;
    width: 100vw;
    background: var(--stroke-color);
    position: absolute;
    top: 0;
}

@keyframes progress-bar {
    from {
        width: 0%;
        margin-left: 0;
    }

    to {
        width: 50%;
        margin-left: 100%;
    }
}

.progress-value {
    height: 5px;
    background: var(--primary-color);
    animation-name: progress-bar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

details>summary {
    list-style-type: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

summary svg {
    margin: 0 5px;
}

.tab-layout {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 24px;
}

.tab-layout>ul {
    height: fit-content;
}

.tab-layout>div {
    padding: 0;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: stretch;
}

.tab {
    color: var(--text-color);
    font-size: small;
    cursor: pointer;
    border-bottom: 2px solid var(--stroke-color);
    width: 200px;
}

.tab-selected {
    color: var(--primary-color);
    font-size: small;
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
    width: 200px;
}

.content__home-page-profile {
    display: flex;
    flex-flow: row;
    gap: 30px;
    align-items: stretch;
    padding: 15px;
}

.basic-layout__content>.card {
    margin-top: 12px;
}

.data-viewer {
    padding: 20px;
}

.outline-badge {
    background-color: var(--gray-color);
    font-size: small;
    color: var(--primary-color);
    border-radius: 3px;
    padding: 5px;
}

.outline-badge__selected {
    background-color: var(--primary-color);
    font-size: small;
    color: white;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.outline-badge:hover {
    background-color: var(--stroke-color);
}

.outline-badge__selected {
    background-color: var(--primary-color);
    font-size: small;
    color: white;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.filled-badge {
    background-color: var(--primary-color);
    font-size: small;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
}

form>div>select {
    margin: 10px 0;
}

.tools {
    display: flex;
    flex-flow: row;
    padding: 12px 24px;
    justify-items: center;
}

.tools>div {
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-self: center;
}

.tools>.right {
    margin-left: auto;
    flex-flow: column;
}

.tools .buttons {
    display: flex;
    flex-flow: row-reverse;
    gap: 10px;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    transform: translateY(-0.075em);
}

.checkbox:hover {
    border-color: var(--primary-color);
    background-color: var(--hover-color);
}

.checkbox:checked {
    border-color: var(--primary-color);
    background: url('./res/checked.svg') var(--hover-color) no-repeat center;
}

.table-value {
    cursor: pointer;
}

.text-with-svg {
    align-items: center;
}

.text-with-svg>* {
    vertical-align: middle;
    display: inline-block;
    margin: 0 2px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: #ddd;
    border-radius: 25px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.radio>input {
    float: left;
    clear: left;
    margin-left: 6px;
}

.radio>span {
    float: left;
    margin: 0 5px;
}

.field-section {
    margin-top: 18px;
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

form h4 {
    margin-bottom: 8px;
}

.error {
    background-color: var(--alert-background-color);
    border-color: var(--alert-text-color);
}

.error::placeholder {
    color: var(--alert-text-color);
}

.file-list {
    max-height: 300px;
    overflow-y: auto;
}

.toolbar {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    margin: 15px;
    padding: 5px 10px;
    height: 50px;
}

.stack-viewport {
    display: flex;
    flex-flow: column;
    position: relative;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.masked-image {
    flex: 1;
    background-color: var(--dark-color);
    height: 85vh;
}

.stack-viewport-layer>span {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.stack-viewport-layer>span:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.viewport {
    height: 85vh;
    width: 600px;
}

.viewer-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.viewer-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.viewer-button__selected {
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.viewer {
    background-color: var(--dark-color);
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    margin: 0;
    overflow: hidden visible;
}

.toolbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-wrapper>div {
    width: fit-content;
    height: fit-content;
}

.scroll-track {
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    padding: 1px;
}

.scroll-thumb {
    height: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

.link-text {
    color: var(--primary-color);
}

.link-text:hover {
    text-decoration: underline;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.center-text {
    text-align: center;
    padding: 32px 24px;
    width: 500px;
    margin: 100px auto;
}

.transparent-badge {
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
}

.transparent-badge:hover {
    background-color: #eee;
}

.content__home-page-table .toggle-wrapper {
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-bottom: 5px;
    width: fit-content;
}

.upload-form {
    width: 90%;
    padding: 32px 48px;
    margin: auto;
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 24px;
}

.stack-viewport-layer {
    position: absolute;
    color: white;
    font-size: small;
    margin: 24px;
}

.white-font {
    font-size: medium;
    color: white;
}

.viewport-with-tools {
    flex: 1;
}

.light-font {
    color: var(--dark-text-color-2);
    font-weight: 700;
    font-size: smaller;
}

textarea {
    all: unset;
    background: #282e39;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
}

textarea:focus {
    background: #232832;
}

.comment-section {
    display: flex;
    flex-flow: column;
}

.comment-section>p {
    padding: 12px 18px;
    border-radius: 5px;
}

.comment-section>p:hover {
    background-color: #282e39;
}

.comment-section>img {
    margin-left: auto;
}

.comment-section>textarea {
    flex: 1;
    margin: 16px 0;
    min-height: 100px;
    overflow: auto;
}


.file-chooser {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 18px;
    color: var(--text-color);
}

.file-chooser>* {
    float: left;
}

.choose-file-button {
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    margin-right: 12px;
    padding: 8px;
}

.file-chooser>img {
    margin-top: 18px;
    float: left;
    clear: left;
}

.upload-avatar-form {
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin: 24px;
}

.analytics {
    display: flex;
    font-size: smaller;
    margin-bottom: 24px;
}

.analytics>* {
    flex: 1;
    border-left: 2px solid #ddd;
    margin: 12px 0;
}

.analytics>div:first-child {
    border-left: 0;
}

.analytics>div {
    padding: 12px;
}

.analytics h2 {
    margin: 0;
}

.analytics span {
    color: var(--text-color);
    font-family: Nunito;
}

.viewports {
    display: flex;
    flex-flow: row;
}

.searchable {
    cursor: pointer;
}

header {
    flex-flow: row;
    justify-content: right;
}

.card>form {
    margin: 24px 48px;
}

.centered-button {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}