.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: var(--header-height) minmax(calc(100dvh - var(--header-height)), auto);
    height: inherit;
    position: relative;
}

.drawer {
    grid-row-start: 1;
    grid-row-end: 3;
}

.content {
    background-color: #EFF4FB;
    padding: 45px;
}