.stats {
    display: flex;
}

.stats__item {
    flex: 1;
    border-right: 1px solid var(--stroke-color);
    padding: 12px 24px;
}

.stats__item:last-child {
    border: 0;
}

.stats__text {
    width: fit-content;
    margin: auto;
}

.stats__change {
    margin-left: 16px;
}