.wrapper {
    display: flex;
}

.wrapperitem {
    flex: 1;
    border-right: 1px solid var(--stroke-color);
    padding: 12px 24px;
}

.wrapperitem:last-child {
    border: 0;
}

.wrappertext {
    width: fit-content;
    margin: auto;
}

.wrapperchange {
    margin-left: 16px;
}